$color-primary: #2FB59A;
$color-primary-light: #50C8B0;
$color-primary-lighter: #7FDECB;
$color-primary-dark: #10A689;
$color-primary-darker: #01846A;

.easel {
    height: 100%;
    position: relative;
    width: 100%;
}

.easel__toolbar {
    background: $color-primary;
    border-bottom: 2px solid $color-primary-dark;
    height: 50px;
    width: 100%;
}

.easel__tools {
    list-style: none;
    margin: 0;
    padding: 0;
}

.easel__tools,
.easel__tool-colors,
.easel__tool-size {
    display: inline-block;
    margin-right: 2em;
    vertical-align: middle;
}

.easel__tool {
    display: inline-block;
    font-size: 2.5em;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        display: inline-block;
        padding: 0.5em;
    }

    input:checked + label {
        background: $color-primary-dark;
    }

    input + label:hover {
        background: $color-primary-light;
    }
}

.easel__tool-colors {
    height: 30px;

    input[type="color"] {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    input[type="color"] {
        height: 30px;
        width: 30px;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type="color"]::-webkit-color-swatch {
        border: none;
        border-radius: 3px;
    }

    a {
        color: #FFFFFF;
        display: inline-block;
        font-size: 1.8em;
        padding: 0.3em;
        text-decoration: none;
        vertical-align: top;
    }
}

.easel__tool-size {
    input[type="range"] {
        width: 150px;
    }

    input[type="range"]:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.easel__save {
    background: $color-primary-light;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 1.8em;
    height: calc(100% - 0.7em);
    margin: 0.35em;
    vertical-align: middle;
    width: 100px;

    &:active {
        background: $color-primary-darker;
    }
}

.easel__canvas {
    background: $color-primary-darker;
    height: calc(100% - 52px);
    overflow: hidden;
    position: relative;
    width: 100%;

    canvas {
        position: absolute;
    }
}

.easel__overlay {
    background: transparent;
    position: absolute;
}